body {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.hidden {
  display: none;
}

.main-container .error-container {
  color: red;
}

.main-container .loader {
  color: blue;
}

.main-container .cards-container {
  max-width: 90%;
  margin: 0 auto;
}

.main-container .cards-container .card {
  --scale: 1;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  transform: scale(var(--scale));
  transition: transform 250ms ease-in-out;
}

.main-container .cards-container .card:hover {
  --scale: 1.05;
}

.main-container .cards-container .card .card__img {
  width: 100%;
}

.main-container .cards-container .card .card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.active {
  background: green;
  color: white;
}

button.asc {
  background: yellow;
}

button.desc {
  background: orange;
}

@media only screen and (min-width: 768px) {
  .main-container .cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .main-container .cards-container .card {
    max-width: calc(25% - 20px);
  }
}
